# Question 4

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [3]:
# read the csv
movies_awards = pd.read_csv('../Data/movies_awards.csv')
movies_awards.head(3)

,totalSeasons,Plot,Rated,Response,Language,Title,Country,Writer,Metascore,imdbRating,...,Released,Actors,Year,Genre,Awards,Runtime,Type,Poster,imdbVotes,imdbID
0,none,NaN,NaN,True,English,Book of Love: The Definitive Reason Why Men Ar...,USA,Jeffrey W. Byrd; Eric George,NaN,6.6,...,14 Feb 2002,40 Glocc; Angelle Brooks; David Brown; Qadr Ca...,2002,Romance; Comedy,NaN,91 min,movie,NaN,79.0,tt0156376
1,none,NaN,NaN,True,Swedish,Anderssons älskarinna,Sweden,NaN,NaN,7.4,...,12 Feb 2001,Jakob Eklund; Ebba Forsberg; Örjan Landström; ...,2001,Drama,NaN,347 min,movie,NaN,34.0,tt0201374
2,none,NaN,NaN,True,English,Bad Blood,UK,Tony Marchant,NaN,5.6,...,11 Jan 2001,Emilia Fox; Serban Celea; Alex Jennings; Steve...,2001,NaN,NaN,NaN,movie,NaN,8.0,tt0207989

In [185]:
# only keep selected columns
df = movies_awards.loc[:,['Title','Awards']]

In [186]:
# show
df.head(3)

                                               Title Awards
0  Book of Love: The Definitive Reason Why Men Ar...    NaN
1                              Anderssons älskarinna    NaN
2                                          Bad Blood    NaN

In [187]:
# convert the type for further operatin
df['Awards'] = df['Awards'].astype('str') 
df

,Title,Awards
0,Book of Love: The Definitive Reason Why Men Ar...,nan
1,Anderssons älskarinna,nan
2,Bad Blood,nan
3,Who Are You?,1 win & 2 nominations.
4,Skeletons in the Closet,1 win.
5,Cheerleader Ninjas,1 nomination.
6,The Girl from Paris,3 wins & 2 nominations.
7,The Final Curtain,1 win & 1 nomination.
8,Crush,nan
9,Happy Birthday,nan
10,Run Like Hell,nan
11,Crazy/Beautiful,5 nominations.
12,A Death in the Family,nan
13,The Anniversary Party,2 wins & 5 nominations.
14,Life as We Know It,nan
15,The Quiet American,Nominated for 1 Oscar. Another 13 wins & 13 no...
16,100 Centre Street,nan
17,90-60-90,nan
18,Like Cat and Mouse,5 wins & 4 nominations.
19,The Abduction Club,nan
20,In Love and War,nan
21,The Sign of Four,nan
22,Adrian Mole: The Cappuccino Years,nan
23,Amores querer con alevosía,nan
24,Punch-Drunk Love,Nominated for 1 Golden Globe. Another 14 wins ...
25,Romeo,3 wins & 2 nominations.
26,The Kiss,nan
27,Avoir su...,nan
28,Academia de baile Gloria,1 nomination.
29,Cet amour-là,nan
...,...,...
15357,Beyhadh,nan
15358,BroShow,nan
15359,Lost Souls: On the Road with 'Blood Father',nan
15360,Hot Tub Party Massacre,nan
15361,All in Kitchen,nan
15362,Alex,nan
15363,All Access Nashville: Celebrating the CMA Awar...,nan
15364,When a Snail Falls in Love,nan
15365,Celebs React,nan
15366,Catching Kelce,nan
15367,Armenia,nan
15368,Boss!,nan
15369,Call of Duty: Revelations,nan
15370,China: Between Clouds and Dreams,nan
15371,Fresh Off the Porch,nan
15372,Thanksgiving,nan
15373,Prison; My Parents & Me,nan
15374,Sara,nan
15375,Elegy,nan
15376,Continent 7: Antarctica,nan
15377,Thank You,nan
15378,Black Is the New Black,nan
15379,Asian Entertainment Tonight,nan
15380,Dragon Ball: Xenoverse 2,nan
15381,Back in Time for Brixton,nan
15382,BET Presents Love & Happiness: An Obama Celebr...,nan
15383,The Plague,nan
15384,The Dark Knight Returns: An Epic Fan Film,nan
15385,Come Together,nan
15386,Binge,nan

In [188]:
# check the value form
df['Awards'][df.Title == 'Seabiscuit'].values[0]

'Nominated for 7 Oscars. Another 6 wins & 36 nominations.'

In [241]:
# a glance into the form of 'award' col
df['Awards'].unique()[0:50]

array(['nan', '1 win & 2 nominations.', '1 win.', '1 nomination.',
       '3 wins & 2 nominations.', '1 win & 1 nomination.',
       '5 nominations.', '2 wins & 5 nominations.',
       'Nominated for 1 Oscar. Another 13 wins & 13 nominations.',
       '5 wins & 4 nominations.',
       'Nominated for 1 Golden Globe. Another 14 wins & 34 nominations.',
       '22 wins & 44 nominations.', '1 win & 3 nominations.',
       '1 win & 8 nominations.', '2 nominations.',
       '6 wins & 1 nomination.',
       'Won 2 Golden Globes. Another 68 wins & 201 nominations.',
       'Won 1 Golden Globe. Another 31 wins & 143 nominations.',
       'Nominated for 4 Primetime Emmys. Another 16 nominations.',
       '3 wins & 6 nominations.', '2 wins.', '6 wins & 4 nominations.',
       '7 wins & 6 nominations.', '9 wins & 30 nominations.',
       'Won 1 Primetime Emmy. Another 1 win & 6 nominations.',
       'Nominated for 3 BAFTA Film Awards. Another 11 wins & 39 nominations.',
       '6 nominations.', '1 win & 4 nominations.',
       '14 wins & 11 nominations.', '3 wins & 3 nominations.',
       'Nominated for 1 Golden Globe. Another 2 wins & 14 nominations.',
       'Nominated for 1 Primetime Emmy. Another 1 nomination.',
       '3 wins & 1 nomination.', '9 wins & 8 nominations.',
       '15 wins & 4 nominations.', '8 wins & 8 nominations.',
       '4 nominations.', '4 wins.', '15 nominations.',
       '7 wins & 7 nominations.', '4 wins & 9 nominations.',
       'Won 11 Oscars. Another 174 wins & 113 nominations.',
       '4 wins & 11 nominations.', '3 wins & 4 nominations.',
       '1 win & 5 nominations.', '2 wins & 2 nominations.',
       'Won 1 Oscar. Another 11 wins & 14 nominations.',
       'Won 3 Primetime Emmys. Another 44 nominations.',
       'Nominated for 7 Oscars. Another 6 wins & 36 nominations.',
       '1 win & 6 nominations.'], dtype=object)

In [190]:
# use regex
import re

# wins & nominations

In [191]:
# sample test
g = '3 wins & 5 nominations'
# pattern
pattern_win = re.compile(r'(\d) win')
# check whether matches
match = pattern_win.match(g)
print(match)
if match:
    print("1111")
#check the value form

print(match.group().split(' ')[0])

<_sre.SRE_Match object; span=(0, 5), match='3 win'>
1111
3

In [192]:
# apply the regex and split a new col from the old
df['Award_wins'] = df['Awards'].apply(lambda x: pattern_win.match(x).group().split(' ')[0] if pattern_win.match(x) else 0)

In [193]:
#check
df.head(6)

,Title,Awards,Award_wins
0,Book of Love: The Definitive Reason Why Men Ar...,nan,0
1,Anderssons älskarinna,nan,0
2,Bad Blood,nan,0
3,Who Are You?,1 win & 2 nominations.,1
4,Skeletons in the Closet,1 win.,1
5,Cheerleader Ninjas,1 nomination.,0

In [194]:
# check the data
df['Award_wins'].unique()

array([0, '1', '3', '2', '5', '6', '7', '9', '8', '4'], dtype=object)

In [195]:
g = '3 wins & 5 nominations'
pattern_nominations = re.compile(r'\b(\d)\b.*\bnominations\b')
match = pattern_nominations.match(g)
print(match)
if match:
    print("1111")
print(match.group().split(' ')[-2])

<_sre.SRE_Match object; span=(0, 22), match='3 wins & 5 nominations'>
1111
5

In [196]:
df['Award_nominated'] = df['Awards'].apply(lambda x: pattern_nominations.match(x).group().split(' ')[-2] if pattern_nominations.match(x) else 0)

In [197]:
df.head(7)

,Title,Awards,Award_wins,Award_nominated
0,Book of Love: The Definitive Reason Why Men Ar...,nan,0,0
1,Anderssons älskarinna,nan,0,0
2,Bad Blood,nan,0,0
3,Who Are You?,1 win & 2 nominations.,1,2
4,Skeletons in the Closet,1 win.,1,0
5,Cheerleader Ninjas,1 nomination.,0,0
6,The Girl from Paris,3 wins & 2 nominations.,3,2

In [198]:
df['Award_nominated'].unique()

array([0, '2', '5', '4', '3', '8', '6', '30', '7', '9', '11', '34', '10',
       '15', '20', '12', '14', '17', '32', '25', '19', '13', '27', '16',
       '42', '23', '28', '21', '31', '29', '18', '53', '41', '33', '22',
       '26'], dtype=object)

# Oscar Nominated & Won

In [199]:
pattern_oscar_nominated = re.compile(r'Nominated for (\d) Oscars')

In [242]:
s = 'Nominated for 7 Oscars'
match = pattern_oscar_nominated .match(s)
print(match)
if match:
    print("1111")

<_sre.SRE_Match object; span=(0, 22), match='Nominated for 7 Oscars'>
1111

In [201]:
match.group().split(' ')[2]

'7'

In [202]:
df['oscar_nominated'] = df['Awards'].apply(lambda x: pattern_oscar_nominated .match(x).group().split(' ')[2] if pattern_oscar_nominated .match(x) else 0)

In [203]:
df.head()

,Title,Awards,Award_wins,Award_nominated,oscar_nominated
0,Book of Love: The Definitive Reason Why Men Ar...,nan,0,0,0
1,Anderssons älskarinna,nan,0,0,0
2,Bad Blood,nan,0,0,0
3,Who Are You?,1 win & 2 nominations.,1,2,0
4,Skeletons in the Closet,1 win.,1,0,0

In [204]:
df['oscar_nominated'].unique()

array([0, '7', '3', '2', '5', '4'], dtype=object)

In [205]:
g = 'Won 3 Oscars'
pattern_oscar_won = re.compile(r'Won (\d) Oscars')
match = pattern_oscar_won.match(g)
print(match)
if match:
    print("1111")
print(match.group().split(' ')[1])

<_sre.SRE_Match object; span=(0, 12), match='Won 3 Oscars'>
1111
3

In [206]:
df['Oscar_Won'] = df['Awards'].apply(lambda x: pattern_oscar_won.match(x).group().split(' ')[1] if pattern_oscar_won.match(x) else 0)
df.head()

,Title,Awards,Award_wins,Award_nominated,oscar_nominated,Oscar_Won
0,Book of Love: The Definitive Reason Why Men Ar...,nan,0,0,0,0
1,Anderssons älskarinna,nan,0,0,0,0
2,Bad Blood,nan,0,0,0,0
3,Who Are You?,1 win & 2 nominations.,1,2,0,0
4,Skeletons in the Closet,1 win.,1,0,0,0

In [207]:
df['Oscar_Won'].unique()

array([0, '6', '3', '2', '7', '4'], dtype=object)

# Golden glob nominated & won

In [208]:
g = 'Nominated for 1 Golden Globe'

In [209]:
pattern_Golden_nominated = re.compile(r'Nominated for (\d) Golden Globe')

In [210]:
match = pattern_Golden_nominated.match(g)
print(match)
if match:
    print("1111")

<_sre.SRE_Match object; span=(0, 28), match='Nominated for 1 Golden Globe'>
1111

In [211]:
match.group().split(' ')[2]

'1'

In [212]:
df['Golden_Globe_nominated'] = df['Awards'].apply(lambda x: pattern_Golden_nominated .match(x).group().split(' ')[2] if pattern_Golden_nominated .match(x) else 0)

In [213]:
df.head()

,Title,Awards,Award_wins,Award_nominated,oscar_nominated,Oscar_Won,Golden_Globe_nominated
0,Book of Love: The Definitive Reason Why Men Ar...,nan,0,0,0,0,0
1,Anderssons älskarinna,nan,0,0,0,0,0
2,Bad Blood,nan,0,0,0,0,0
3,Who Are You?,1 win & 2 nominations.,1,2,0,0,0
4,Skeletons in the Closet,1 win.,1,0,0,0,0

In [214]:
df['Golden_Globe_nominated'].unique()

array([0, '1', '2', '3', '6'], dtype=object)

In [215]:
g = 'Won 1 Golden Globe'
pattern_golden_won = re.compile(r'Won (\d) Golden Globe')
match = pattern_golden_won.match(g)
print(match)
if match:
    print("1111")
print(match.group().split(' ')[1])

<_sre.SRE_Match object; span=(0, 18), match='Won 1 Golden Globe'>
1111
1

In [216]:
df['Golden_Globe_Won'] = df['Awards'].apply(lambda x: pattern_golden_won.match(x).group().split(' ')[1] if pattern_golden_won.match(x) else 0)
df.head()

,Title,Awards,Award_wins,Award_nominated,oscar_nominated,Oscar_Won,Golden_Globe_nominated,Golden_Globe_Won
0,Book of Love: The Definitive Reason Why Men Ar...,nan,0,0,0,0,0,0
1,Anderssons älskarinna,nan,0,0,0,0,0,0
2,Bad Blood,nan,0,0,0,0,0,0
3,Who Are You?,1 win & 2 nominations.,1,2,0,0,0,0
4,Skeletons in the Closet,1 win.,1,0,0,0,0,0

In [217]:
df['Golden_Globe_Won'].unique()

array([0, '2', '1', '6', '3'], dtype=object)

# Primetime Emmy nominated and won

In [218]:
g = 'Nominated for 1 Primetime Emmy'
pattern_Primetime_nominated = re.compile(r'Nominated for (\d) Primetime Emmy')
match = pattern_Primetime_nominated.match(g)
print(match)
if match:
    print("1111")

<_sre.SRE_Match object; span=(0, 30), match='Nominated for 1 Primetime Emmy'>
1111

In [219]:
match.group().split(' ')[2]

'1'

In [220]:
df['Primetime_Emmy_nominated'] = df['Awards'].apply(lambda x: pattern_Primetime_nominated .match(x).group().split(' ')[2] if pattern_Primetime_nominated .match(x) else 0)

In [221]:
df.head()

,Title,Awards,Award_wins,Award_nominated,oscar_nominated,Oscar_Won,Golden_Globe_nominated,Golden_Globe_Won,Primetime_Emmy_nominated
0,Book of Love: The Definitive Reason Why Men Ar...,nan,0,0,0,0,0,0,0
1,Anderssons älskarinna,nan,0,0,0,0,0,0,0
2,Bad Blood,nan,0,0,0,0,0,0,0
3,Who Are You?,1 win & 2 nominations.,1,2,0,0,0,0,0
4,Skeletons in the Closet,1 win.,1,0,0,0,0,0,0

In [222]:
df['Primetime_Emmy_nominated'].unique()

array([0, '4', '1', '2', '3', '5', '7'], dtype=object)

In [223]:
g = 'Won 3 Primetime Emmys'
pattern_Primetime_won = re.compile(r'Won (\d) Primetime Emmys')
match = pattern_Primetime_won.match(g)
print(match)
if match:
    print("1111")
print(match.group().split(' ')[1])

<_sre.SRE_Match object; span=(0, 21), match='Won 3 Primetime Emmys'>
1111
3

In [224]:
df['Primetime_Emmys_Won'] = df['Awards'].apply(lambda x: pattern_Primetime_won.match(x).group().split(' ')[1] if pattern_Primetime_won.match(x) else 0)
df.head()

,Title,Awards,Award_wins,Award_nominated,oscar_nominated,Oscar_Won,Golden_Globe_nominated,Golden_Globe_Won,Primetime_Emmy_nominated,Primetime_Emmys_Won
0,Book of Love: The Definitive Reason Why Men Ar...,nan,0,0,0,0,0,0,0,0
1,Anderssons älskarinna,nan,0,0,0,0,0,0,0,0
2,Bad Blood,nan,0,0,0,0,0,0,0,0
3,Who Are You?,1 win & 2 nominations.,1,2,0,0,0,0,0,0
4,Skeletons in the Closet,1 win.,1,0,0,0,0,0,0,0

In [225]:
df['Primetime_Emmys_Won'].unique()

array([0, '3', '2', '5', '7', '9', '4'], dtype=object)

# BAFTA nominated and won

In [226]:
g = 'Nominated for 1 BAFTA Film Award'
pattern_BAFTA_nominated = re.compile(r'Nominated for (\d) BAFTA Film Award')
match = pattern_BAFTA_nominated.match(g)
print(match)
if match:
    print("1111")
print(match.group().split(' ')[2])

<_sre.SRE_Match object; span=(0, 32), match='Nominated for 1 BAFTA Film Award'>
1111
1

In [227]:
df['BAFTA_Film_nominated'] = df['Awards'].apply(lambda x: pattern_BAFTA_nominated.match(x).group().split(' ')[2] if pattern_BAFTA_nominated.match(x) else 0)

In [228]:
df.head()

,Title,Awards,Award_wins,Award_nominated,oscar_nominated,Oscar_Won,Golden_Globe_nominated,Golden_Globe_Won,Primetime_Emmy_nominated,Primetime_Emmys_Won,BAFTA_Film_nominated
0,Book of Love: The Definitive Reason Why Men Ar...,nan,0,0,0,0,0,0,0,0,0
1,Anderssons älskarinna,nan,0,0,0,0,0,0,0,0,0
2,Bad Blood,nan,0,0,0,0,0,0,0,0,0
3,Who Are You?,1 win & 2 nominations.,1,2,0,0,0,0,0,0,0
4,Skeletons in the Closet,1 win.,1,0,0,0,0,0,0,0,0

In [229]:
df['BAFTA_Film_nominated'].unique()

array([0, '3', '1'], dtype=object)

In [230]:
g = 'Won 3 BAFTA Film Award'
pattern_BAFTA_won = re.compile(r'Won (\d) BAFTA Film Award')
match = pattern_BAFTA_won.match(g)
print(match)
if match:
    print("1111")
print(match.group().split(' ')[1])

<_sre.SRE_Match object; span=(0, 22), match='Won 3 BAFTA Film Award'>
1111
3

In [231]:
df['BAFTA_Film_won'] = df['Awards'].apply(lambda x: pattern_BAFTA_won.match(x).group().split(' ')[2] if pattern_BAFTA_won.match(x) else 0)

In [232]:
df.head()

,Title,Awards,Award_wins,Award_nominated,oscar_nominated,Oscar_Won,Golden_Globe_nominated,Golden_Globe_Won,Primetime_Emmy_nominated,Primetime_Emmys_Won,BAFTA_Film_nominated,BAFTA_Film_won
0,Book of Love: The Definitive Reason Why Men Ar...,nan,0,0,0,0,0,0,0,0,0,0
1,Anderssons älskarinna,nan,0,0,0,0,0,0,0,0,0,0
2,Bad Blood,nan,0,0,0,0,0,0,0,0,0,0
3,Who Are You?,1 win & 2 nominations.,1,2,0,0,0,0,0,0,0,0
4,Skeletons in the Closet,1 win.,1,0,0,0,0,0,0,0,0,0

In [233]:
df['BAFTA_Film_won'].unique()

array([0])

# save to csv

In [237]:
df.to_csv('question4out.csv', encoding='utf-8')

In [239]:
www = pd.read_csv('question4out.csv')

In [240]:
www.head()

,Unnamed: 0,Title,Awards,Award_wins,Award_nominated,oscar_nominated,Oscar_Won,Golden_Globe_nominated,Golden_Globe_Won,Primetime_Emmy_nominated,Primetime_Emmys_Won,BAFTA_Film_nominated,BAFTA_Film_won
0,0,Book of Love: The Definitive Reason Why Men Ar...,NaN,0,0,0,0,0,0,0,0,0,0
1,1,Anderssons älskarinna,NaN,0,0,0,0,0,0,0,0,0,0
2,2,Bad Blood,NaN,0,0,0,0,0,0,0,0,0,0
3,3,Who Are You?,1 win & 2 nominations.,1,2,0,0,0,0,0,0,0,0
4,4,Skeletons in the Closet,1 win.,1,0,0,0,0,0,0,0,0,0